@using SampleFluxReactDotNet.Web.Controllers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Sample SPA!</title>
</head>
<body>
    <div id="comments"></div>
    <hr />
    <div id="todoList"></div>
    <script src="http://fb.me/react-0.10.0.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/jsx")
    @Html.ReactInitJavaScript()
</body>
</html>